Source: simplayer-flash-activities
Section: utils
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/lliurex/simplayer
Vcs-Browser: https://github.com/lliurex/simplayer
Vcs-Git: https://github.com/lliurex/simplayer

Package: simplayer-flash-activities
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Educational activities collection
 Educational activities with offline usage







