[Desktop Entry]
Type=Application
Exec=simplayer -a circuit
Icon=/usr/share/icons/lliurex/apps/48/simplayer.svg
MimeType=application/x-simplayer;
Terminal=false
Name=Circuits
Name[ca]=Circuits
Name[ca@valencia]=Circuits
Name[en_GB]=Circuits
Name[es]=Circuitos
GenericName=Electrical circuit simulator
GenericName[ca]=Simulador de circuits elèctrics
GenericName[ca@valencia]=Simulador de circuits elèctrics
GenericName[es]=Simulador de circuitos eléctricos
Comment=Electrical circuit simulator
Comment[ca]=Simulador de circuits elèctrics
Comment[ca@valencia]=Simulador de circuits elèctrics
Comment[es]=Simulador de circuitos eléctricos
Categories=LliureX-Laboratory;
X-DBUS-ServiceName=net.lliurex.simplayer.circuit
